#authForm {
 	width: 600px;
 	border: 1px solid #D0D0D0;
 	padding: 30px;
 	border-radius: 5px;
 	position: relative;
 	margin: 15px auto 70px auto;
 }

.index_img {
    background-image: url("image/jumbo.jpg");
    margin-top: -5px;
}

.footer {
	background-color: #e8f2ff;
    height: 50px;
    padding-right: 5px;
    padding-top: 15px;
    margin-top: 25px;
}

main {
	min-height: 100%;
  	margin-bottom: -50px;
}

html, body {
  	height: 100%;
  	margin: 0;
}

.scrollspy-list {
    position: relative;
}

.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}

.message {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
